body{
    background-color: #262829;
}

.butContain{
    text-align: center;
    margin: 10px;
}

.mainButton{
    transition: all 0.1s linear;
    font-size: small;
}

.mainButton:hover{
    transform: scale(103%);
}

.gridButton{
    width: 99%;
    margin-left: 5px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

}

.title{
    text-align: center;
    color: whitesmoke;
}

.But{
    background-color: rgb(68, 67, 67);
    border: none;
    border-radius: 3px;
    font-size:small;
    color: whitesmoke;
    /* margin-left: 5px; */
    margin: 0 10px;
    transition: all 0.1s linear;
}

.But:hover{
    transform: scale(103%);
}

.vid{
    text-align: center;
}

